body{
    background-color: #ffffff;
    color: #424242;
    font-family: Verdana, Arial, "Times New Roman", sans-serif;
    font-size: 12px;
}
.wide{
    width: 100%;
}
.header{
    width: 100%;
    background: url("../img/header.jpg");
    height: 460px;
}

.content{
    width: 1100px;
    margin: 20px auto;
}
.product-card{
    width: 232px;
    height: 367px;
    padding: 14px;
    position: relative;
    border: 1px solid #e5e5e5;
}
.product-body{

}
.footer {
    background: #424242;
    color: #ffffff;
    padding: 20px;
}